<header>
    <nav>
        <ul>
            <li><a href="/">Message Board</a></li>
            <% if (!currentUser) { %>
                <li><a href="/sign-up">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
            <% } %>
            <% if (currentUser) { %>
                <li><a href="/log-out">Log Out</a></li>
                <li><a href="/clubhouse">Join the club !</a></li>
            <% } %>
        </ul>
    </nav>
</header>