<header>
    <nav>
        <ul>
            <li><a href="/">Message Board</a></li>
            <li><a href="/sign-up">Sign Up</a></li>
            <li><a href="/login">Log In</a></li>
            <li><a href="/log-out">Log Out</a></li>
        </ul>
    </nav>
</header>