<%-  include("./partials/head.ejs") %>

<body>
    <%-  include("./partials/header.ejs") %>
    <main>
        <h1>Index</h1>
        <% if (currentUser) { %>
            <h2>Hello <%= currentUser.fullName %> !</h2>
        <% } %>
    </main>
</body>