<%-  include("./partials/head.ejs") %>
<body>
    <%-  include("./partials/header.ejs") %>
    <main>
        <h1>Join the club !</h1>
        <form action="/clubhouse" method="POST">
            <label for="secretPassword">Enter the secret password...</label>
            <input type="text" name="secretPassword" id="secretPassword">
            <label for="isAdmin">Are you an admin ?</label>
            <input type="checkbox" id="isAdmin" name="isAdmin">

            <button type="submit">Submit</button>
        </form>

        <% if (typeof errors !== 'undefined') { %>
            <%# "typeof" check instead of more common "if (errors)" to avoid ReferenceError %>
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.msg %></li>
                <% }) %>
            </ul>
        <% } %>

    </main>
</body>